body{
    background-color: rgb(8, 9, 11);
    margin: 0px;
    background-image: url('bg-dark.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-attachment: fixed; */
    color: white;
    font-family: inter;
}

/* From here, CSS is for Nav bar  */
#logo{
    width: 100px;
}
#nav_bar{
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items:center;
    padding: 0 5%;
    justify-content: space-around;
    backdrop-filter: blur(10px);
}
#leftpart{
    display: flex;
    align-items: center;
    gap: 150px;
}
.nav_list{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:inter;
}
.rightpart , #enterpriseFeatures .child-1 button{
    border-radius: 20px;
    padding: 10px;
    font-family:inter;
    font-size: 15px;
    font-weight: 500;
    border-width: 0;
    margin-right: 5px;
}
#contactBtn{
    background-color:rgba(221, 219, 217, 0.16);
    color: white;
}

/* From here , CSS for Hero section  */
#terminal{
    width: 1100px;
    border-radius: 20px;
}
#heroSection{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#docs{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    background-color: rgba(221, 219, 217, 0.16);
    border-radius: 40px;
    color: white;
    /* padding: 5px; */
    margin: 25px ;
    font-size: 14px;
    width: 360px;
}
#newBtn{
    background-color: rgb(63, 138, 98);
    font-size: 12px;
    font-family: inter;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    width: 40px;
    height: 20px;
    border-width: 0;
    margin: 10px;
}
#heroTextH1{
    color: white;
    font-family: inter;
    width: 650px;
    text-align: center;
    font-size: 57.56px;
    font-weight: 600;
}
#heroTextp{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: white;
    width: 500px;
}
#inputEmail{
     position: relative; 
    display: inline-block;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width:300px;
    height:20px ;
    border-radius: 26px;
    padding: 10px;
    font-family: inter;
    font-size: 15px;
    border:1px solid rgb(88, 114, 129);
    margin-bottom: 80px;
}
#inputEmail input{
     background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
    width: 210px;
    padding-right: 45px;
    color: white;
}
#inputEmail input::placeholder{
    color: rgb(168,192,195);
    font-weight: 500;
}
#inputEmail input:focus{
    outline:none;
}
#startNowBtn{
    border-radius: 20px;
    padding: 6px;
    font-family:inter;
    font-size: 15px;
    font-weight: 500;
    border-width: 0;
      position: absolute; 
  right: 5px; 
  top: 50%;
  transform: translateY(-50%);
}

/* From here, CSS for Companies logos and name */
#companies{
    /* border:1px solid red; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    width: 1000px;
    height: 158px;
    margin: auto; 
    margin-top: 40px;
    place-content: center;
}
.child{
    /* border: 0.5px solid green; */
    width: 250px;
    height: 64px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.child img{
    width: 158px;
    height: 44px;
    place-self: center;
}


/* From here, CSS for Features */
#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#features-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    text-align: center;
    gap: 0px;
}
#features-1 h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 190px;
    margin-bottom: 0px;
}
#features-1 p , #enterpriseFeatures .child-1 .child-1-1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-wrap: balance;
    color: rgb(181, 181, 182);
}

.features-2-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.card-images img{
    width: 350px;
}
.features-2{
    border: 2px solid rgb(100,181,182,0.07);
    width: 450px;
    border-radius:  1.5em; ;
    padding: 30px;
}
#first-p{
    color: rgb(106,223,159);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.child-features h3{
    font-size: 24px;
    font-weight: 500;
}
.child-features p , #enterpriseFeatures .child-1 p , .child-customer_image p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    /* width: 350px; */
    text-align: left !important;
    text-wrap: balance;
    color: rgb(181, 181, 182);
}

.features-3-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(100,181,182,0.07);
    border-radius:  1.5em; ;
    padding: 30px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#second-p{
    color: rgb(106,223,159);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
.child-features-1 , .child-customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.child-features-1 p , .child-customers p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    width: 550px;
    text-wrap: balance;
    color: rgb(181, 181, 182);
    text-align: center;
    margin-top: 0px;
}
.child-features-1 h3{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
.card-images-2 img{
    width: 800px;
}

/* From here ,CSS for enterpriseFeatures  */
#enterpriseFeatures{
 background-color: rgb(25,26,26);   
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding:75px ;
}
#enterpriseFeatures .child-1{
    display: flex;
    gap: 150px;
    width: 1000px;
    justify-content: space-between;
    align-items: flex-end;
}

#enterpriseFeatures .child-1 .child-1-1 h3{
    font-size: 40px;
    font-weight: 600;
    width: 550px;
    margin-top: 0;
    margin-bottom: 0;
}
#enterpriseFeatures .child-1 .child-1-1{
    display: flex;
    flex-direction: column;
    gap: 0;
}

#enterpriseFeatures .child-2 .child-1-3 img{
    width: 1000px;
    border-radius: 1.5rem;
}
#enterpriseFeatures .child-2 .child-1-3{
    position: relative;
    text-align: left;
    color: white;
}
#enterpriseFeatures .child-2 .child-1-3 .top-left {
  position: absolute;
  top: 60px;
  left: 60px;
}
#enterpriseFeatures .child-2 .child-1-3 .top-left h3{
    width: 300px;
    font-size: 24px;
    font-weight: 500;
}
#enterpriseFeatures .child-2 .child-1-3 .bottom-left {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}


/* from here customer feedback section  */
.customer_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500;
    gap: 20px;
    padding: 40px;

}
.customer_image img{
    width: 400px;
    border-radius: 1.5rem;
    margin-bottom: 20px;
}
.child-customer_image{
    display: flex;
    flex-direction: column;
    position: relative;
}
.overlay-svg{
  position: absolute;
  top: 120px;
  left: 65px;
  fill: white;
}
.overlay-svg1{
  position: absolute;
  top: 120px;
  left: 175px;
  fill: white;
}

/* from here CSS for documentation  section  */

#documentation {
  padding: 100px 40px;
  text-align: center;
  background: radial-gradient(circle at top, #08080a, #05070a);
}


.doc-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.doc-title {
  font-size: 48px;
  font-weight: 700;
  width: 600px;
  margin-bottom: 20px;
}

.doc-subtitle {
  color: #a0a0a0;
  font-size: 18px;
  margin-bottom: 40px;
}



.doc-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

.btn {
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.primary {
  background: #ffffff;
  color: #000;
}

.secondary {
  background: transparent;
  border: 1px solid #444;
  color: #e6e6e6;
}



.doc-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 900px;
  margin: auto;
  position: relative;
}


.doc-features::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background: #222;
}



.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-icon {
  width: 50px;
  height: 50px;
  background: rgb(9,10,11);
  padding: 12px;
  border: 0.5px solid rgb(43, 45, 48);
  border-radius: 1.5rem;
}

.feature-text h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.feature-text p {
  color: #9ca3af;
  font-size: 15px;
}

.feature-link {
  color: #34d399;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}

/* frpm here css for footer section  */



.main-footer {
  background:  radial-gradient(circle at top, #08080a, #05070a);;
  padding: 60px 80px 30px;
  border-top: 1px solid #1f2933;
}



.footer-top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #e5e7eb;
}

.socials span {
  margin-left: 20px;
  cursor: pointer;
  color: #9ca3af;
}



.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #1f2933;
}

.footer-col h4 {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #d1d5db;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-col a:hover {
  color: #ffffff;
}



.footer-security {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #1f2933;
}

.footer-security p {
  color: #9ca3af;
}

.badge {
  border: 1px solid #374151;
  padding: 10px 16px;
  border-radius: 50px;
  font-size: 13px;
  color: #9ca3af;
}



.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 25px;
  font-size: 13px;
  color: #9ca3af;
}

.status {
  background: #111827;
  padding: 8px 14px;
  border-radius: 20px;
  width: fit-content;
}

.copyright {
  text-align: center;
}

.theme {
  text-align: right;
}

.theme span {
  margin-left: 12px;
  cursor: pointer;
}