body{
    background-color: rgb(21, 20, 15);
    color: white;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/* From here, CSS is for Nav bar  */
#logo{
    width: 100px;
    margin-left: 45px;
}
#nav_bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    width: 100%;
    background-color:  rgb(21, 20, 15);
    z-index: 1000;
    top: 0;
}
.nav_list{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#rightButtons{
    margin-right: 70px;
}
.rightpart {
    background-color: white;
    border-radius: 20px;
    font-family:inter;
    font-size: 15px;
    font-weight: 500;
    border-width: 0;
    margin-right: 5px;
    /* width: 80px; */
    padding: 10px;
}
#SignBtn{
    background-color:rgba(221, 219, 217, 0);
    color: white;
    border: 0.5px solid rgb(64, 63, 57);
}
#heroSection{
    padding: 70px;
    margin-top: 100px;
}
#heroSection h1{
    font-size: 26px;
    font-weight: 400;
    width: 500px;
}
#photo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#bg{
    width: 1300px;
    border-radius: 1rem;
}
#terminal{
    position: absolute;
    top: 180px;
    left: 150px;
    width: 950px;
    border-radius: 1rem;
}
#companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#parent-companies{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8,1fr);
    padding: 30px;
    width: 1200px;
    gap: 20px;
    margin: auto;
    /* border: 1px solid red; */
    place-content: center;
}

#child-companies{
    width: 140px;
    /* border: 1px solid red; */
    background-color: rgb(26, 25, 21);
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.5rem;
}
#child-companies img{
    width: 80px;
}

#features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#features .child{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(26, 25, 21);
    width: 1300px;
    border-radius: 0.5rem;
}
#features .child img{
    padding: 20px;
    width: 750px;
    border-radius: 1.5rem;
}
.child-textPart{
    padding:30px
}
.child-textPart h3 p{
    font-size: 26px;
    font-weight: 400;
}
.p-tag{
    color: rgb(152, 149, 148);
}
.child-textPart a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(237, 72, 25);
}

#feedback{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#feedback-h{
    font-size: 26px;
    font-weight: 400;
}
#parent-feedback{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    gap: 20px;
    place-content: center;
}
.child-feedback{
    background-color: rgb(26, 25, 21);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
    height: 230px;
    padding: 15px;
    border-radius: 1rem;
}
.child-feedback-1{
    color: rgb(152, 149, 148);
}
.child-feedback-2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.child-feedback-2 img{
    width: 40px;
    height: 40px;
    align-self:flex-end;
    border-radius: 0.5rem;
}
.child-feedback-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.child-feedback-2-1 h4{
    margin-bottom: 0;

}
.child-feedback-2-1 p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(152, 149, 148);
}