body{
    background-color: #13181E;
    color: rgb(255, 255, 255);
}
img{
    width: 150px;
}
nav{
    background-color: #141922;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
a{
    text-decoration: none;
    margin: 10px;
}
#signup{
    background-color: #72E3E1;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 550;
}
.list_part{
margin-right: auto;
margin-top: 20px;
}
.left_part{
margin-left: 60px
}
.right_part{

}


